@charset "UTF-8";
@import url("common.css");
@import url("bootstrap.min.css");
.fl {
  float: left; }

.fr {
  float: right; }

.clearfix:after {
  content: " ";
  display: block;
  visibility: hidden;
  height: 0px;
  clear: both; }

body {
  position: relative; }
  body #main-bigpic {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    display: none; }
    body #main-bigpic .picbg {
      background: #fff;
      width: 800px;
      height: 800px;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      margin: auto; }
      body #main-bigpic .picbg .closebtn {
        display: block;
        position: absolute;
        width: 20px;
        height: 20px;
        right: 25px;
        top: 25px;
        transform-origin: center center; }
        body #main-bigpic .picbg .closebtn:hover {
          animation: myrota 0.5s 1; }
@keyframes myrota {
  0% {
    transform: rotateZ(0deg); }
  100% {
    transform: rotateZ(180deg); } }
        body #main-bigpic .picbg .closebtn:before {
          content: "";
          display: block;
          width: 2px;
          height: 20px;
          background: #aaa;
          position: absolute;
          top: 0;
          left: 50%;
          margin-left: -1px;
          transform: rotateZ(45deg); }
        body #main-bigpic .picbg .closebtn:after {
          content: "";
          display: block;
          width: 2px;
          height: 20px;
          background: #aaa;
          position: absolute;
          top: 0;
          left: 50%;
          margin-left: -1px;
          transform: rotateZ(-45deg); }
      body #main-bigpic .picbg ul {
        width: 100%;
        height: 20px;
        position: absolute;
        left: 0px;
        top: 50%; }
        body #main-bigpic .picbg ul li {
          display: block;
          width: 30px;
          height: 20px;
          background: #3c3c3c;
          text-align: center;
          line-height: 20px;
          color: #eee;
          font: 18px;
          font-family: 'Simsun'; }
          body #main-bigpic .picbg ul li:hover {
            cursor: default; }
          body #main-bigpic .picbg ul li.main-prev {
            float: left; }
          body #main-bigpic .picbg ul li.main-next {
            float: right; }
      body #main-bigpic .picbg .picenter {
        width: 100%;
        height: 100%;
        padding: 60px 30px 30px 30px; }
        body #main-bigpic .picbg .picenter img {
          width: 100%;
          height: 100%; }

.detail-page {
  width: 1210px;
  margin: 0px auto; }

.nav-pos {
  padding: 30px 0px; }
  .nav-pos a {
    font-size: 12px;
    color: #898989; }
    .nav-pos a:after {
      content: ">"; }
  .nav-pos a:last-child:after {
    content: ""; }

.price {
  line-height: 30px;
  font-size: 30px;
  color: #4ed6d1; }
  .price:before {
    content: "¥"; }

.rmb {
  color: #ff6a42; }
  .rmb:before {
    content: "¥"; }

.gray-line {
  color: #d5d5d5;
  margin: 0 5px; }

.detail-left {
  width: 880px; }

.detail-left {
  float: left; }
  .detail-left .main-pic dt {
    width: 500px;
    height: 500px;
    margin-bottom: 15px;
    position: relative; }
    .detail-left .main-pic dt:hover {
      cursor: move; }
    .detail-left .main-pic dt img {
      width: 100%; }
    .detail-left .main-pic dt span {
      display: block;
      position: absolute;
      display: none; }
    .detail-left .main-pic dt .mask {
      left: 0;
      bottom: 0;
      opacity: 0.5;
      z-index: 8;
      width: 200px;
      height: 200px;
      background: #4ed6d1; }
    .detail-left .main-pic dt .bigimg {
      width: 400px;
      height: 400px;
      border: 1px #898989 solid;
      z-index: 9;
      position: absolute;
      right: -430px;
      top: 0;
      overflow: hidden;
      background: #898989; }
      .detail-left .main-pic dt .bigimg img {
        position: absolute; }
  .detail-left .main-pic dd {
    float: left;
    width: 65px;
    height: 65px;
    overflow: hidden;
    border: 1px solid #dddddd;
    margin-right: 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    padding: 1px; }
    .detail-left .main-pic dd img {
      width: 100%;
      height: 100%; }
  .detail-left .main-pic .hover {
    border: 2px solid #4ed6d1;
    padding: 0px; }

.product-desc, .detail-desc {
  float: left; }

.product-desc {
  margin-right: 40px; }
  .product-desc .favorite .glyphicon {
    color: #d5d5d5;
    line-height: 0;
    vertical-align: middle;
    font-size: 18px; }
  .product-desc .favorite .gray-line {
    margin: 0 15px; }

.detail-desc {
  width: 340px; }
  .detail-desc button {
    outline: none; }
  .detail-desc .coun-img {
    width: 35px;
    height: 25px;
    overflow: hidden;
    margin-right: 5px; }
  .detail-desc .coun-name {
    font-size: 12px;
    color: #333; }
  .detail-desc .english-name {
    font-size: 12px; }
  .detail-desc h2 {
    font-size: 20px;
    line-height: 26px;
    font-weight: normal; }
  .detail-desc .goods-desc {
    display: block;
    font-size: 12px;
    line-height: 22px;
    color: #898989; }
  .detail-desc .money-much {
    margin-top: 40px; }
  .detail-desc dl {
    font-size: 12px;
    color: #898989;
    margin-bottom: 10px; }
    .detail-desc dl dt {
      font-weight: normal;
      float: left;
      width: 100px;
      margin-right: 15px; }
    .detail-desc dl .colorsel {
      border: 2px #4ed6d1 solid; }
      .detail-desc dl .colorsel img {
        width: 40px;
        height: 40px; }
    .detail-desc dl dd {
      float: left; }
      .detail-desc dl dd input[type=text] {
        width: 40px;
        border: 1px solid #898989;
        border-left-width: 0px;
        border-right-width: 0px;
        text-align: center;
        height: 24px;
        box-sizing: border-box;
        outline: none;
        vertical-align: middle;
        display: inline-block;
        line-height: 24px; }
      .detail-desc dl dd button:last-child:after {
        content: "";
        display: block;
        height: 10px;
        width: 2px;
        background: #898989;
        position: absolute;
        top: 50%;
        margin-top: -5px;
        left: 50%;
        margin-left: -1px; }
      .detail-desc dl dd button {
        display: inline-block;
        vertical-align: middle;
        height: 22px;
        width: 22px;
        border: 1px solid #898989;
        background: #fff;
        box-sizing: content-box;
        font-size: 16px;
        color: #898989;
        font-family: "微软雅黑";
        position: relative; }
        .detail-desc dl dd button:before {
          content: "";
          display: block;
          height: 2px;
          width: 10px;
          background: #898989;
          position: absolute;
          top: 50%;
          margin-top: -1px;
          left: 50%;
          margin-left: -5px; }
        .detail-desc dl dd button:hover {
          height: 20px;
          width: 20px;
          line-height: 20px;
          border: 2px solid #4ed6d1;
          color: #4ed6d1; }
          .detail-desc dl dd button:hover:before {
            background: #4ed6d1; }
          .detail-desc dl dd button:hover:after {
            background: #4ed6d1; }
  .detail-desc dl:last-child {
    margin-top: 20px; }
  .detail-desc .buy-btn {
    margin: 20px 0px;
    font-size: 0; }
    .detail-desc .buy-btn button {
      width: 160px;
      height: 47px;
      border: 1px solid #4ed6d1;
      background: #edfbfb;
      font-size: 16px;
      color: #4ed6d1; }
    .detail-desc .buy-btn button:last-child {
      background: #4ed6d1;
      color: #fff;
      margin-left: 12px; }
  .detail-desc .sevice {
    font-size: 12px;
    color: #898989; }
    .detail-desc .sevice li {
      margin-bottom: 10px; }

.detail-content {
  float: left;
  margin-top: 75px;
  width: 100%; }

.detail-tab {
  background: #f3f3f3;
  height: 50px;
  width: 100%;
  border-bottom: 1px #dddddd solid; }
  .detail-tab li {
    height: 50px;
    width: 110px;
    float: left;
    text-align: center;
    line-height: 50px;
    color: #362c22; }
    .detail-tab li span {
      font-size: 12px;
      color: #898989; }
      .detail-tab li span:before {
        content: " ("; }
      .detail-tab li span:after {
        content: ")"; }
  .detail-tab .current-tab {
    background: #404040;
    color: #fff; }

.detail-table {
  padding-left: 35px; }
  .detail-table table {
    border: 1px #ccc solid; }
    .detail-table table td, .detail-table table th {
      border: 1px #ccc solid;
      height: 36px;
      padding: 10px 15px;
      font-size: 12px;
      font-weight: normal; }
    .detail-table table th {
      background: #f3f3f3;
      text-align: right;
      width: 120px; }
    .detail-table table .pic img {
      width: 175px;
      height: 175px; }

/*# sourceMappingURL=detail.css.map */
