@charset "utf-8";
/*
 * banner轮播图模块
 * Author by jiangshengxiang @2017.08.25
 */
/*20171026*/
$_display : -webkit-box -ms-flexbox -webkit-flex flex;
$_livalue : -webkit-box-pack -ms-flex-pack -webkit-justify-content justify-content -webkit-box-align -ms-flex-align -webkit-align-items align-items;
.jsx-indexbanner{ 
   width: nth($_publicData, 14); 
   overflow:nth($_publicShow, 1); 
   position:$_rel; 
   margin:nth($_publicData, 4) nth($_publicData, 2);
   .swiper-wrapper{ 
        width:99999px; 
        overflow:nth($_publicShow, 1); 
        position:$_absol; 
        #{$_tp}:nth($_publicData, 4); 
        #{$_lf}:nth($_publicData, 4);
      }
    li{ 
        width:nth($_publicData, 14); 
        text-align: $_ct;
        @each $dis in $_display{
         display: $dis;
        }   
        @each $di in $_livalue{
         $di: $_ct;
        }     
      position: $_rel; 
      cursor: nth($_publicCursor, 2);
      //文字
      .banner-text{
         position:$_absol;
         top: nth($_publicData, 10);
         left: nth($_publicData, 4);
         right: nth($_publicData, 4);
         text-align: $_ct;
         z-index:2;
         padding: nth($_publicData, 4) nth($_publicData, 34);
      }
      span{
           color: nth($_publicColor, 1);
           display: nth($_publicShow, 3);
           @include jsx-filter(0,0);
           @each $brow in $_browser{
             #{$brow}transform: translateY(nth($_publicData, 29));
             transform: translateY(nth($_publicData, 29));
          }
           + span{
             margin-#{$_tp}:nth($_publicData, 22);
           }
          @for $i from 1 through 6 {
            &#text#{$i} {
               font-size: countnumC(nth($_publicData, 14),3);
               @include jsx-transtion(all, .5s, ease-in-out);
            }
          }
          @for $i from 1 through 6 {
            &#s-text#{$i} {
               font-size: countnumC(nth($_publicData, 14),2);
               @include jsx-transtion(all, .5s, ease-in-out,1s);
            }
          }  
      }
      &.swiper-slide-active{
         span{
             @include jsx-filter(100,1);
             @each $brow in $_browser{
                #{$brow}transform: translateY(nth($_publicData, 4));
                transform: translateY(nth($_publicData, 4));
            }  
         }
      }
    }
    //底部切换图标
    .jsx-clickicon{ 
      position:$_absol; 
      bottom:nth($_publicData, 32); 
      left:nth($_publicData, 4); 
      width: nth($_publicData, 14); 
      text-align: $_ct; 
      z-index:99;
      span{
         display:nth($_publicShow, 4); 
         margin:nth($_publicData, 4) nth($_publicData, 21); 
         width:nth($_publicData, 29);
         height:nth($_publicData, 29);
         vertical-align:$_md; 
         border-radius: nth($_publicData, 10); 
         background: lighten(nth($_publicColor, 1), 50%);
         cursor: nth($_publicCursor, 1);
         @include jsx-transtion(all, .5s, ease-in-out);
         //当前状态
         &.swiper-pagination-bullet-active{
             background:   nth($_publicColor, 6);
         }
         //鼠标hover
         &:hover{
            @each $brow in $_browser{
                    #{$brow}transform: scale(1.3,1.3);
                }
                transform: scale(1.3,1.3); 
         }
      }
    }
}
@include jsx-media(320px,990px){
    .jsx-indexbanner{ 
       width: nth($_publicData, 14); 
       overflow:nth($_publicShow, 1);
       position:$_rel; 
       margin:nth($_publicData, 4) nth($_publicData, 2);
       margin-#{$_tp}: 0.96rem;
       .swiper-wrapper{ 
            width:99999px; 
            overflow:nth($_publicShow, 1); 
            position:$_absol; 
            #{$_tp}:nth($_publicData, 4); 
            #{$_lf}:nth($_publicData, 4);
          }
        li{ 
            width:nth($_publicData, 14); 
            text-align: $_ct;
            @each $dis in $_display{
             display: $dis;
            }   
            @each $di in $_livalue{
             $di: $_ct;
            }     
          position: $_rel; 
          cursor: nth($_publicCursor, 2);
          //文字
          .banner-text{
             position:$_absol;
             top: nth($_publicData, 10);
             left: nth($_publicData, 4);
             right: nth($_publicData, 4);
             text-align: $_ct;
             z-index:2;
             padding: nth($_publicData, 4) nth($_publicData, 34);
          }
          span{
               color: nth($_publicColor, 1);
               display: nth($_publicShow, 3);
               @include jsx-filter(0,0);
               @each $brow in $_browser{
                 #{$brow}transform: translateY(nth($_publicData, 29));
                 transform: translateY(nth($_publicData, 29));
              }
               + span{
                 margin-#{$_tp}:nth($_publicData, 22);
               }
              @for $i from 1 through 6 {
                &#text#{$i} {
                   font-size: 0.36rem;
                   @include jsx-transtion(all, .5s, ease-in-out);
                }
              }
              @for $i from 1 through 6 {
                &#s-text#{$i} {
                   font-size: 0.24rem;
                   @include jsx-transtion(all, .5s, ease-in-out,1s);
                }
              }  
          }
          &.swiper-slide-active{
             span{
                 @include jsx-filter(100,1);
                 @each $brow in $_browser{
                    #{$brow}transform: translateY(nth($_publicData, 4));
                    transform: translateY(nth($_publicData, 4));
                }  
             }
          }
        }
        //底部切换图标
        .jsx-clickicon{ 
          position:$_absol; 
          bottom:0.18rem; 
          left:nth($_publicData, 4); 
          width: nth($_publicData, 14); 
          text-align: $_ct; 
          z-index:99;
          span{
             display:nth($_publicShow, 4); 
             margin:nth($_publicData, 4) 0.08rem; 
             width:0.18rem;
             height:0.18rem;
             @include jsx-media(320px,413px){
                 &{
                    width:10px;
                    height:10px; 
                 }
             }
             @include jsx-media(414px,667px){
                 &{
                    width:12px;
                    height:12px; 
                 }
             }
             @include jsx-media(668px,767px){
                 &{
                    width:14px;
                    height:14px; 
                 }
             }
             vertical-align:$_md; 
             border-radius: nth($_publicData, 10); 
             background: lighten(nth($_publicColor, 1), 50%);
             cursor: nth($_publicCursor, 1);
             @include jsx-transtion(all, .5s, ease-in-out);
             //当前状态
             &.swiper-pagination-bullet-active{
                 background:   nth($_publicColor, 6);
             }
             //鼠标hover
             &:hover{
                @each $brow in $_browser{
                        #{$brow}transform: scale(1.3,1.3);
                    }
                    transform: scale(1.3,1.3); 
             }
          }
        }
    }
}
